@page "/ContadorInteractivo"

<h3 class="text-center">Contador Interactivo</h3>

<div class="container">
    <button class="btn btn-primary" @onclick="Incrementar">+</button>
    <span class="badge badge-primary" style="margin: 10px;">@contador</span>
    <button class="btn btn-danger" @onclick="Decrementar">-</button>
</div>

@code {
    private int contador = 0;

    private void Incrementar()
    {
        contador++;
    }

    private void Decrementar()
    {
        if (contador > 0)
        {
            contador--;
        }
    }
}